
/*
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Qwitcher Grypen', cursive;
*/

/*Tag Styles*/
body{
  margin: 0;
  text-align: center;
  color: #40514E;
  font-family: 'Merriweather', serif;
}

div{
  margin: 0;
}

h1{
  margin: 50px auto 0 auto;
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 7.5rem;
  color: #66BFBF;
}

h2{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: 'Merriweather Sans', sans-serif;
  color: #11999E;
}

hr{
  border-style: none;
  border-top: 5px dotted;
  border-color: #EAF6F6;
  width: 10%;
  margin: 50px auto 50px auto;
}

a{
  color: #11999E;
  margin: 10px 20px;
}

a:hover{
  color: #EAF6f6;
}

/*Class Styles*/
.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container{
}

.bottom-container{
  background-color: #66BFBF;
  line-height: 4;
  padding-top: 25px;
  margin-top: 50px;
}

.pro{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.computer{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.music{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile-img{
   height: 300px;
   margin-top:50px;
}

.description{
  width: 50%;
  margin: 0 auto 0 auto;
}

.copywrite{
  color: #EAF6F6;
}

.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}

.button-general{
  margin-top: 50px;
  margin-bottom: 50px;
}

.button_contact-me {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 100;
   padding: 30px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button_contact-me:hover {
   border: solid #337FED 0;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
